.wrap{
	margin: 0 auto;
	width: 1000px;
}

.header{
	height: 150px;
	background: #00bcd4;
	margin-bottom: 20px;
}

.logo{
	float: left;
}

.headermenu{
	float: right;
	margin-top: 50px;
}

.headermenu li{
	float: left;
	margin-right: 20px;
}

.headermenu a{
	color: #3f51b5;
	text-decoration: none;
}

.topmenu{
	height: 50px;
}

/*Let the li elements align horizontally*/
.topmenu li{
	float: left;
}

.topmenu li a{
	/*Let the anchor elements to occupy the horizontal space*/
	display: block;
	width: 200px;
	/*height: 50px;*/
	background: #00bcd4;
	color: #3f51b5;
	text-align: center;
	text-decoration: none;
	/*line-height: 50px;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

.topmenu li a:hover{
	background: #00d46f;
}

.main{
	margin-bottom: 20px;
}

.menu{
	width: 180px;
	background: yellow;
	float: left;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
}

.content{
	width: 790px;
	background: pink;
	height: 50px;
	float: left;
}

.clearfix{
	clear: both;
}

.footer{
	height: 80px;
	background: green;
}