.wrap{
	margin: 0 auto;
	width: 1000px;
}

.header{
	height: 50px;
	background: red;
	margin-bottom: 20px;
}

.main{
	margin-bottom: 20px;
}

.menu{
	width: 180px;
	background: yellow;
	float: left;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
}

.content{
	width: 790px;
	background: pink;
	height: 50px;
	float: left;
}

.clearfix{
	clear: both;
}

.footer{
	height: 80px;
	background: green;
}