
.style1{
	color: #03a9f4;
}

.style1 h2 span{
	font-size: 50px;
}

.style1 span {
	font-size: 25px;
}

.style2 h2{
	color: pink;
}

.style2{
	color: pink;
	border: 10px solid #000;
	/*padding means push in*/
	padding-left: 30px;
	padding-right: 30px;	
}
.style2 p{
	/*margin means push outside*/
	margin-bottom: 20px;
}