/*
selector {
	attribute1: value1;
	attribute2: value2;
}
*/

h1{
	color: #00bcd4;
	font-size: 50px;
}

p{
	font-family: Source-code-pro;
	font-size: 18px;
	line-height: 1.5;
	text-align: left;
	text-indent: 36px;
	/*text-decoration: underline;*/
}

.style1{
	color: #009688;
}

.style2{
	color: #673ab7;
}

a:hover{
	color: #00bcd4;
}

p:hover{
	font-size: 30px;
}

p:active{
	color: pink;
}